extends ../shared/template

block content
  .about-content-wrapper
    img(src='/img/assets/portrait.jpg')
    p I grew up in the great Northwest. Washington State was my home for 19 years before venturing out.
      | I moved to Sydney, Australia, then Michigan for a brief time before finally settling in Nashville, TN.
      | Music drew me here, but I found so much more in the valley of middle Tennessee to call it home.
      | As if by providence, I found another passion that allowed me to express and challenge myself creatively: programming.
      | As a result, I am currently attending Nashville Software School and will be finishing in September of 2014.

    p The projects you see on this website are all during my time at NSS.
      | Many more projects are viewable on <a href='https://github.com/nathanhood'>github</a>
      | if you would like to see the progression and growth of my skillset as it has been fostered over the last six months.
      | I am passionate, hard-working, team oriented and I cannot
      | wait to start my career in this field.

    p Feel free to contact me, whether you are a prospective employer or just a like-minded programmer/musician. <b>I look forward to meeting you</b>.
