extends ../shared/template

block content
  .about-content-wrapper
    img(src='/img/assets/portrait.jpg')
    p I grew up in the great Northwest. Washington State was my home for 19 years.
      | I moved to Sydney, Australia, then Michigan for a brief time before finally settling in Nashville, Tennessee.
      | Music drew me here, but I found so much more in middle Tennessee that made it feel like home.
      | I attended Nashville Software School in 2014 to learn the ways of the trade and was hired on at an interactive agency in Franklin
      | called Caddis Interactive where I am currently employed.

    p The projects you see on this website are all during my time at NSS.
      | Many more projects are viewable on <a href='https://github.com/nathanhood'>github</a>.
      | I am passionate about what I do, hard-working, and team oriented.

    p Feel free to contact me, whether you are a prospective employer or just a like-minded programmer/musician. <b>I look forward to meeting you</b>.
