extends ../shared/template

block content
  .content-wrapper
    .contact-info-wrapper
      h2 Contact Information
      p.fa.fa-phone.fa-2x   615-838-5208
      p.fa.fa-envelope-o.fa-2x  nathanhood@me.com
      p.fa.fa-github.fa-2x  github.com/nathanhood
