extends ../shared/template

block content
  .content-wrapper
    #headline-content
      p I am a junior web developer fresh out of Nashville Software School. I am excited to contribute my new-found skills with a great company, and to learn as much as I can along the way. Check out what I've done so far.
    #portrait-tile

    .carousel-wrapper
      #carousel-nav
        .fa.fa-chevron-left
        .dot-wrapper
          .dot.one.active
          .dot.two
          .dot.three
        .fa.fa-chevron-right
      .carousel.one
        .left-slide
          .left-slide-content.one
        .right-slide
          .right-slide-content.one
            .carousel-content
              p.carousel-description Hack4Change winning application. Bringing local history to life.
              .link-container
                a.github-link.fa.fa-github.fa-2x(href='https://github.com/nathanhood/nashploration')
                a.application-link(href='#') View Site
                a.learn-more-link(href='#') Learn More
      .carousel.two(hidden)
        .left-slide
          .left-slide-content.two
        .right-slide
          .right-slide-content.two
            .carousel-content
              p.carousel-description Creative collaboration tool for songwriters and other literary creatives.
              .link-container
                a.github-link.fa.fa-github.fa-2x(href='https://github.com/nathanhood/muse-collective')
                a.application-link(href='http://musecollective.nathanhood.me') View Site
                a.learn-more-link(href='#') Learn More
      .carousel.three(hidden)
        .left-slide
          .left-slide-content.three
        .right-slide
          .right-slide-content.three
            .carousel-content
              p.carousel-description Jagger or Lennon? Choose your side.
              .link-container
                a.github-link.fa.fa-github.fa-2x(href='https://github.com/nathanhood/checkers')
                a.application-link(href='http://checkers.nathanhood.me') View Site
                a.learn-more-link(href='#') Learn More

    .left-tile-wrapper.contact
      .left-tile
        .nashville-image-wrapper
        .contact-wrapper
          p.fa.fa-phone   615-838-5208
          p.fa.fa-envelope-o  nathanhood@me.com
          p.fa.fa-github  github.com/nathanhood
      .right-tile
    .right-tile-wrapper.about-me
      .left-tile
        img(src='/img/assets/texture-2.png')
      .right-tile
        p A little more about me
    .space


  //- footer#contact-info
  //-   p contact information
