extends ../shared/template

block content
  .content-wrapper
    #headline-content
      p 
    #portrait-tile

    .carousel-wrapper
      #carousel-nav
        .fa.fa-chevron-left
        .dot-wrapper
          .dot.one.active
          .dot.two
          .dot.three
        .fa.fa-chevron-right
      .carousel.one
        .left-slide
          .left-slide-content.one
        .right-slide
          .right-slide-content.one
            .carousel-content
              p.carousel-description Hack4Change winning application. Bringing local history to life.
              .link-container
                a.github-link.fa.fa-github.fa-2x(href='https://github.com/nathanhood/nashploration')
                a.application-link(href='http://nashploration.com') View Site
                a.learn-more-link(href='/projects/nashploration') Learn More
      .carousel.two(hidden)
        .left-slide
          .left-slide-content.two
        .right-slide
          .right-slide-content.two
            .carousel-content
              p.carousel-description Creative collaboration tool for songwriters and other literary creatives.
              .link-container
                a.github-link.fa.fa-github.fa-2x(href='https://github.com/nathanhood/muse-collective')
                a.application-link(href='http://musecollective.nathanhood.me') View Site
                a.learn-more-link(href='/projects/musecollective') Learn More
      .carousel.three(hidden)
        .left-slide
          .left-slide-content.three
        .right-slide
          .right-slide-content.three
            .carousel-content
              p.carousel-description Jagger or Lennon? Choose your side.
              .link-container
                a.github-link.fa.fa-github.fa-2x(href='https://github.com/nathanhood/checkers')
                a.application-link(href='http://checkers.nathanhood.me') View Site
                a.learn-more-link(href='/projects/checkers') Learn More


    a.project-tile.nashploration(href='/projects/nashploration')
    a.project-tile.muse-collective(href='/projects/musecollective')
    a.project-tile.checkers(href='/projects/checkers')

    .right-tile-wrapper.about-me
      a(href='/about')
        .left-tile
          img(src='/img/assets/texture-2.png')
        .right-tile
          p A little more about me
    .left-tile-wrapper.contact
      .left-tile
        .nashville-image-wrapper
        .contact-wrapper
          p.fa.fa-phone   615-838-5208
          p.fa.fa-envelope-o  nathanhood@me.com
          p.fa.fa-github  github.com/nathanhood
      .right-tile
    .space

block scripts
  script(src='/js/es6/compiled/main.js')
